.header {
  width: 100%;
  height: 439px;
  background-color: red;
  background: url(../img/news/banner.png) center center no-repeat;
}
.header > .head {
  width: 100%;
  height: 82px;
  background: rgba(0, 94, 222, 0.2);
}
.header > .head > .h_box {
  padding-top: 17px;
}
.header > .head > .nav {
  height: 84px;
  padding: 21px 0 14px 0;
  margin-top: 277px;
  background-color: #0075ca;
}
.header > .head > .nav > li {
  height: 100%;
  width: 150px;
  float: left;
  text-align: center;
  border-right: 1px dashed #fff;
}
.header > .head > .nav > li > a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
}
.header > .head > .nav > li > a > span {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
.header > .head > .nav > li > a > div {
  display: none;
  width: 149px;
  height: 3px;
  background-color: #f0bf57;
  margin-top: 14px;
}
.header > .head > .nav > li > p {
  color: red;
  margin-top: 3px;
  display: none;
  position: relative;
  z-index: 2;
  width: 149px;
  background-color: #f6f6f6;
  overflow: hidden;
}
.header > .head > .nav > li > p > a {
  display: block;
  height: 34px;
  font-size: 14px;
  color: #007dd8;
}
.header > .head > .nav > li > p > a:nth-child(1) {
  margin-top: 26px;
}
.header > .head > .nav > li:nth-child(8) {
  border: 0;
}
.header > .head > .nav > li:hover {
  height: 96px;
  background-color: #f6f6f6;
  box-shadow: 2px 3px 10px 0px rgba(63, 66, 68, 0.35);
  margin-top: -33px;
}
.header > .head > .nav > li:hover img {
  margin-top: 27px;
}
.header > .head > .nav > li:hover span {
  color: #007dd8;
}
.header > .head > .nav > li:hover div {
  display: block;
}
.header > .head > .nav > li:hover p {
  display: block;
}
.header > .head > .nav > li:hover p > a:hover {
  cursor: pointer;
  border-bottom: 3px solid #f0bf57;
}
.header > .head > .nav > li:hover .select {
  display: block;
}
.content > .c_title {
  height: 48px;
  font-size: 14px;
  line-height: 48px;
  color: #999;
  border-bottom: solid 1px #e0e0df;
}
.content > .c_title > div {
  height: 100%;
}
.content > .c_middle {
  height: 1732px;
}
.content > .c_middle > .m_left {
  width: 308px;
  height: 1632px;
  background-color: #f1f1f1;
  padding: 95px 0 0 9px;
  position: relative;
  float: left;
}
.content > .c_middle > .m_left > img {
  position: absolute;
  top: 30px;
  left: -7px;
  z-index: auto;
}
.content > .c_middle > .m_left > span {
  position: absolute;
  top: 30px;
  left: 7px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  line-height: 50px;
}
.content > .c_middle > .m_left > ul > li {
  height: 44px;
  line-height: 44px;
  padding-left: 17px;
  border-bottom: solid 1px #e0e0df;
  cursor: pointer;
}
.content > .c_middle > .m_left > ul > li > span {
  font-size: 16px;
  color: #999;
}
.content > .c_middle > .m_left > ul > li > span:nth-child(1) {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #cccccc;
  margin-right: 14px;
}
.content > .c_middle > .m_left > ul > li.color {
  background-color: #fff;
}
.content > .c_middle > .m_left > ul > li.color > span:nth-child(1) {
  background-color: #0075ca;
}
.content > .c_middle > .m_right {
  float: left;
  width: 892px;
  height: 100%;
  padding: 30px 0 0 33px;
}
.content > .c_middle > .m_right > .r_title {
  height: 50px;
  width: 100%;
  background-color: #fff;
  line-height: 50px;
}
.content > .c_middle > .m_right > .r_title > div {
  height: 100%;
  width: 70px;
  float: left;
  margin-right: 14px;
  background-color: #f1f1f1;
}
.content > .c_middle > .m_right > .r_title > span {
  display: block;
  float: left;
  font-size: 14px;
  color: #666;
}
.content > .c_middle > .m_right > ul {
  height: 1552px;
}
.content > .c_middle > .m_right > ul > li {
  width: 100%;
  height: 155px;
}
.content > .c_middle > .m_right > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: solid 1px #e0e0df;
  padding-top: 39px;
  cursor: auto;
}
.content > .c_middle > .m_right > ul > li > a > div {
  float: left;
}
.content > .c_middle > .m_right > ul > li > a > div:nth-child(1) {
  width: 52px;
  height: 86px;
  border-radius: 16px;
  border: solid 1px #0075ca;
  padding: 14px 0 0 12px ;
  margin-right: 26px;
}
.content > .c_middle > .m_right > ul > li > a > div:nth-child(1) > span {
  font-size: 12px;
  color: #0075ca;
}
.content > .c_middle > .m_right > ul > li > a > div:nth-child(1) > span:nth-child(2) {
  font-size: 22px;
}
.content > .c_middle > .m_right > ul > li > a > div:nth-child(2) {
  margin-right: 60px;
}
.content > .c_middle > .m_right > ul > li > a > div:nth-child(2) > h4 {
  width: 637px;
  height: 19px;
  font-size: 18px;
  color: #0075ca;
  margin-bottom: 18px;
  cursor: pointer;
}
.content > .c_middle > .m_right > ul > li > a > div:nth-child(2) > p {
  width: 638px;
  height: 33px;
  font-size: 12px;
  line-height: 20px;
  color: #999999;
  cursor: pointer;
}
.content > .c_middle > .m_right > ul > li > a > div:nth-child(3) {
  height: 72px;
  padding-left: 26px;
  color: #999;
  font-size: 12px;
  position: relative;
}
.content > .c_middle > .m_right > ul > li > a:nth-child(1) {
  border-top: solid 1px #e0e0df;
}
.content > .c_middle > .m_right > .r_bottom {
  height: 40px;
  padding-left: 112px;
  margin-top: 30px;
}
.content > .c_middle > .m_right > .r_bottom > span {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #666;
  display: block;
  float: left;
}
.content > .c_middle > .m_right > .r_bottom > span:nth-of-type(2) {
  margin: 0 20px;
  cursor: pointer;
}
.content > .c_middle > .m_right > .r_bottom > span:nth-of-type(3) {
  cursor: pointer;
}
.content > .c_middle > .m_right > .r_bottom > span:nth-of-type(4) {
  width: 28px;
  height: 34px;
  border-radius: 3px;
  border: solid 1px #e0e0df;
  text-align: center;
  margin-left: 6px;
  background-color: #0075ca;
  color: #fff;
  line-height: 34px;
  cursor: pointer;
}
.content > .c_middle > .m_right > .r_bottom > span:nth-of-type(5) {
  width: 28px;
  height: 34px;
  border-radius: 3px;
  border: solid 1px #e0e0df;
  text-align: center;
  margin-left: 6px;
  line-height: 34px;
  cursor: pointer;
}
.content > .c_middle > .m_right > .r_bottom > span:nth-of-type(6) {
  width: 28px;
  height: 34px;
  border-radius: 3px;
  border: solid 1px #e0e0df;
  text-align: center;
  margin-left: 6px;
  line-height: 34px;
  cursor: pointer;
}
.content > .c_middle > .m_right > .r_bottom > span:nth-of-type(7) {
  width: 28px;
  height: 34px;
  border-radius: 3px;
  border: solid 1px #e0e0df;
  text-align: center;
  margin-left: 6px;
  line-height: 34px;
  cursor: pointer;
}
.content > .c_middle > .m_right > .r_bottom > span:nth-of-type(8) {
  width: 28px;
  height: 34px;
  border-radius: 3px;
  border: solid 1px #e0e0df;
  text-align: center;
  margin-left: 6px;
  line-height: 34px;
  margin-right: 6px;
  cursor: pointer;
}
.content > .c_middle > .m_right > .r_bottom > span:nth-of-type(9) {
  width: 60px;
  height: 34px;
  border-radius: 3px;
  border: solid 1px #e0e0df;
  text-align: center;
  margin-left: 6px;
  line-height: 34px;
  cursor: pointer;
}
.content > .c_middle > .m_right > .r_bottom > span:nth-of-type(10) {
  width: 46px;
  height: 34px;
  border-radius: 3px;
  border: solid 1px #e0e0df;
  text-align: center;
  margin-left: 6px;
  line-height: 34px;
  margin-right: 24px;
  cursor: pointer;
}
.content > .c_middle > .m_right:nth-of-type(3) {
  display: none;
}
.content > .c_middle > .m_right:nth-child(4) {
  display: none;
}
.content > .c_middle > .m_right:nth-child(4) h5 {
  color: #333;
}
.content > .c_middle > .m_right:nth-child(4) i {
  color: #999;
  font-style: normal;
}
.content > .c_middle > .m_right:nth-child(4) .sign {
  width: 35px;
  position: absolute;
  top: 0px;
  left: 50px;
}
.content > .c_middle > .m_right:nth-child(4) .sign-color {
  color: #f0bf57;
}
.content > .c_middle > .m_right:nth-of-type(5) {
  display: none;
}
.content > .c_middle > .m_right:nth-of-type(6) {
  display: none;
}
.service {
  width: 120px;
  height: 130px;
  position: fixed;
  top: 440px;
  right: 30px;
  z-index: 4;
}
.service > div {
  cursor: pointer;
  width: 120px;
  height: 40px;
  text-align: center;
  margin-bottom: 4px;
}
.service > div > a {
  width: 120px;
  height: 40px;
  display: block;
  line-height: 40px;
}
.service > div > a > p {
  opacity: 0;
  background-color: none;
  width: 80px;
  height: 40px;
  float: left;
}
.service > div > a > div {
  float: left;
  width: 40px;
  height: 40px;
  border: solid 1px #e0e0df;
}
.service > div:hover {
  background-color: #0075ca;
}
.service > div:hover > a {
  color: #fff;
}
.service > div:hover > a > p {
  opacity: 1;
}
.service > div:hover > a > div {
  border: 0;
}
.footer {
  height: 239px;
  background-color: #0069c3;
  padding-top: 42px;
  margin-top: 38px;
}
.footer > ul > li {
  height: 156px;
  width: 130px;
  float: left;
  margin-right: 20px;
}
.footer > ul > li > span {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 12px;
  color: #fff;
}
.footer > ul > li > p {
  height: 36px;
  color: #fff;
}
.footer > ul > li > div > img:nth-child(2) {
  margin-top: 12px;
}
